* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f25330;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Button */

.generator-jokes button {
    background-color: #242424;
    color: #f25330;
    padding: 20px;
    display: flex;  
    margin: 0 auto;
    border-radius: 7px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    border: none;
}

.generator-jokes button:hover {
    transition: all ease-in .2s;
    transform: scale(1.1);
    background-color: #3b3b3b;
}

.container-jokes {
    background-color: #242424;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 18px 3px;

}

.container-jokes .joke{
    display: flex;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    align-content: center;
    color: #dfdfd3;
}

img {
    display: flex;
    margin: 0 auto;
    width: 300px;
}